<html>
<head>
</head>
<body>
<h1><center><b><font size=10>VisionWare IT Training & Services</b></center></h1>
<h2 ><font size=6>About VisionWare</h2>
<p><font size=5><font type=Liberation Serif>VisionWare is an IT Training and services provider Institute. It is started with the motivation that every student should get an adequate knowledge of his/her field in 
much affordable Fees and in more efficient Manner. It is established in 2016, with Programming in C and Programming in C++ as first two batches. At VisionWare theory is implemented to create great things. we build real life projects Parallel to our Lectures. The main thing is we provide overall guidance for the betterment 
of a student.</font></p>
<h3><b>Ongoing Batches </b></h2>

<ul type=disc>
<li>Programming in C </li>
<li>Programming in C ++</li>
<li> Web Using Python-Django (weekend) </li>
<li> Pre Placement Preparation (weekend)
 </li>
</ul>
<br>
<h3>List of Placed Students from PFS Batch  : </h2>
<ol type=1>
<li>Rohan Uttekar  </li>
<li> Roshan Mourya</li>
<li> Saloni Mirzya</li>
<li> Vikram Gaikwad</li>
</ol>


</body>
</html>
